nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding: 1rem;
    width: 55%;
    margin: 4rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 4rem;
  }
  
  nav ul li a {
    color: maroon;
    text-decoration: none;
  }